pip install tensorflow==2.10.1
pip install keras==2.10.0
pip install numpy==1.23.5
pip install scipy==1.10.1
pip install h5py==3.8.0
pip install matplotlib
pip install opencv-python
pip install pillow
pip install scikit-learn
pip install imutils
